img {
  display:inline-block;
  max-width:250px;
  max-height:250px;
  cursor:pointer;
  border: 5px solid #555;
}

.gallery {
  border: 10px black;
  cursor:pointer;
  display:inline;
  margin-left:auto;
  margin-right:auto;
}


